
<!-- <div class="split left">
  <div class="centered"  href="#" routerLink="/GuestSignUp">
    <h2 class="button">Sign Up As Guest</h2>
  </div>
</div>

<div class="split right">
  <div class="centered"  href="#" routerLink="/HostSignUp">
    <h2 class="button">sign Up As Host</h2>
    <a></a>
  </div>
</div> -->


  
  <div class="split left">
  <div class="centered"  href="#" routerLink="/GuestSignUp">
    <h2 class="button">Sign Up As Guest</h2>
  </div>
</div>

<div class="split right">
  <div class="centered"  href="#" routerLink="/HostSignUp">
    <h2 class="button">sign Up As Host</h2>
    <a></a>
  </div>
</div>


