<div class="title">
  <h1 >Details</h1>
</div>
<div class="col-sm-4"></div>
<div class="col-sm-6">
  
  <img class="img"  src="{{home.image}}"><br/><br/>
  <h2 class="T1">firstName:</h2><br/> 
      <h4>{{home.firstName}}</h4><br/> 
  <h2 class="T2">lastName:</h2><br/>  
      <h4>{{home.lastName}}</h4><br/> 
  <h2 class="T3"> location:</h2><br/>  
      <h4>{{home.location}}</h4><br/> 
  <h2 class="T4">description:</h2><br/>
      <h4>{{home.description}}</h4><br/> 
  <h2 class="T5">price:</h2><br/>
      <h4>{{home.price}}</h4> <br/> 
  <h2 class="T6"> category: </h2><br/>
      <h4>{{home.category}}</h4><br/> 
  <h2 class="T7">contactInformation:</h2><br/>
      <h4>{{home.contactInformation}}</h4><br/> 

</div>

