<!-- <form>
  <p>post works!</p>
  <label>title</label>
  <input type='text'/>
  <br/>
  
  <label>location</label>
  <input type='text'/>
  <br/>
  
  <label>category</label>
  <input type='text'/>
  <br/>
  
  <label>price</label>
  <input type='text'/>
  <br/>
  
  <label>description</label>
  <input type='text'/>
  <br/>
  
  <label>conatct</label>
  <input type='text'/>
  <br/>
  
  <label>images</label>
  <input type='file'/>
  <br/>
</form> -->
<div class="login-page">
  <h2 style="text-align:center;">add new post</h2>
  <div class="form">
      <form class="register-form forms">
          <input name="fname" type="text" placeholder="first name" />
          <input name="lname" type="text" placeholder="last name" />
          <input name="username" type="text" placeholder="title" />
          <input name="password" type="password" placeholder="location" />
          <input name="email" type="text" placeholder="categorie" />
          <input name="image" type="file" placeholder="image" />
          <input name="rate" type="text" placeholder="price" />
          <button type="submit">create</button>
         </form>
    
  </div>
</div>


