<!-- <div class="container">
  <h1>Guest Feed</h1>
  <div>
    <p>Here will be the list of posts when user logged in as a guest</p>
  </div>
</div> -->
<div class="dropdown">
  <button class="dropbtn"><i class="fa fa-filter"></i> Filter</button>
  <div class="dropdown-content">
  <p class="filter"> location</p>
  <p class="filter"> categorie</p>
  <p class="filter"> price range</p>
  </div>
</div>
<h1>all posts</h1>

<ul *ngIf="homes">
  <li *ngFor="let home of homes">
    <p class="name">{{ home.firstName }}</p>
    <p class="country">{{ home.location }}</p>
    <!-- <a class="site" href="{{ home.website_url }}">site</a> -->
    <img src={{home.image}} class="postImg"/>
    <button (click)="gotopostview(home._id)" class="show">Show details</button>
  </li>
</ul>