<!-- <div class="container">
  <h1>Guest Feed</h1>
  <div>
    <p>Here will be the list of posts when user logged in as a guest</p>
  </div>
</div> -->
<div class="dropdown">
  <button class="dropbtn"><i class="fa fa-filter"></i> Filter</button>
  <div class="dropdown-content">
  <p class="filter" (click)="filter('s+1')"> s+0 </p>
  <p class="filter" (click)="filter('s+1')"> s+1</p>
  <p class="filter" (click)="filter('s+2')"> s+2</p>
  <p class="filter" (click)="filter('s+3')"> s+3</p>
  <p class="filter" (click)="filter('villa')"> villa</p>
  </div>
</div>
<h1>all posts</h1>

<ul *ngIf="homeFilter">
  <li *ngFor="let home of homeFilter">
    <p class="name">{{ home.firstName }}</p>
    <p class="country">{{ home.location }}</p>
    <!-- <a class="site" href="{{ home.website_url }}">site</a> -->
    <img src={{home.image}} class="postImg"/>
    <p>{{home.category}}</p>
    <button class="show">Show details</button>
  </li>
</ul>