<div class="login-page" >
    <h2 style="text-align:center">Sign up as a Host</h2>
    <div class="form">
        <form class="register-form forms">
            <input name="fname" type="text" placeholder="first name" />
            <input name="lname" type="text" placeholder="last name" />
            <input name="username" type="text" placeholder="username" />
            <input name="password" type="password" placeholder="password" />
            <input name="email" type="text" placeholder="email" />
            <input name="adress" type="text" placeholder="adress" />
            <input name="image" type="file" placeholder="image" />
            <input name="rate" type="text" placeholder="rate" />
            <button type="submit">create</button>
         </form>
       </div>
    </div>

