<div class="login-page">
  <h2>Sign up as a Guest</h2>
  <div class="form">
    <form
      class="register-form forms"
      [formGroup]="guestForm"
      (ngSubmit)="create()"
    >
      <input
        name="fname"
        type="text"
        placeholder="first name"
        formControlName="firstName"
      />
      <input
        name="lname"
        type="text"
        placeholder="last name"
        formControlName="lastName"
      />
      <input
        name="username"
        type="text"
        placeholder="username"
        formControlName="userName"
      />
      <input
        name="email"
        type="text"
        placeholder="email"
        formControlName="email"
      />
      <input
        name="password"
        type="password"
        placeholder="password"
        formControlName="password"
      />
      <input
        name="image"
        type="file"
        placeholder="image"
        formControlName="image"
      />
      <!-- <input name="rate" type="text" placeholder="rate" formControlName="rate"/> -->
      <button>create</button>
      <p class="message">
        Already registered?
        <a class="log switch" href="#">Sign In</a>
      </p>
    </form>
    <form class="login-form forms hide">
      <input name="email" type="text" placeholder="email" />
      <input name="password" type="password" placeholder="password" />
      <button type="submit">login</button>
      <p class="message">
        Not registered?
        <a class="reg switch" href="#">Create an account</a>
      </p>
    </form>
  </div>
</div>
